# Build artifacts
/prefer
*.o
*.a
*.so
*.txt
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo.go
*.cgo2.c
_cgo_*.c
_*.go
*.exe
*.test

# Non-git hidden files
.*
!.git*
coverage.out
